<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haiyu.manager.dao.SettingsDicTypeMapper">
    <resultMap id="BaseResultMap" type="com.haiyu.manager.pojo.SettingsDicType">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type_code" jdbcType="VARCHAR" property="typeCode"/>
        <result column="type_name" jdbcType="VARCHAR" property="typeName"/>
        <result column="created_time" jdbcType="VARCHAR" property="createdTime"/>
        <result column="updated_time" jdbcType="VARCHAR" property="updatedTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>


    <sql id="baseColumn">
    id,type_code,type_name,created_time,updated_time,status
    </sql>

    <select id="findByDicTypeName" resultMap="BaseResultMap">
        SELECT
        <include refid="baseColumn"/>
        FROM settings_dictionary_type
        WHERE type_name = #{typeName}
        and status = 1
    </select>

    <select id="findByDicTypeCode" resultMap="BaseResultMap">
        SELECT
        <include refid="baseColumn"/>
        FROM settings_dictionary_type
        WHERE type_code = #{typeCode}
        and status = 1
    </select>

    <select id="getDicTypeList" resultType="com.haiyu.manager.vo.DicTypeVO">
        SELECT id, type_code AS typeCode, type_name AS typeName, created_time AS createdTime,
        updated_time AS updatedTime, status AS status
        FROM settings_dictionary_type as u
        <where>
            <if test="typeCode != null and typeCode != '' ">
                and type_code LIKE concat ('%', #{typeCode},'%')
            </if>
            <if test="typeName != null and typeName != '' ">
                and type_name LIKE concat ('%', #{typeName},'%')
            </if>
        </where>
        order by created_time desc
    </select>


    <update id="updateDicType">
        UPDATE settings_dictionary_type
        <set>
            <if test="typeName != null">
                type_name = #{typeName},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateDicTypeStatus">
    UPDATE settings_dictionary_type
    SET status = #{status}
    WHERE id = #{id}
  </update>

</mapper>